extends layout

block content

    div.drums
        div.circle.circle-1
            | A
        div.circle.circle-2
            | R
        div.circle.circle-3
            | P
        div.circle.circle-4
            | D
        div.circle.circle-5
            | V
        div.circle.circle-6
            | J